<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Fetch All Data
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-toggle color="secondary" (ionChange)="toggle($event)"></ion-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngIf="data.length > 0">
    <ion-item *ngFor="let item of data" class="ion-padding">
      <ion-label class="ion-text-wrap labelItem">
        {{item?.title}}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
